table,
th,
td {
  border: 1px solid blue;
  border-collapse: collapse;
  text-align: center;
}

.main-container {
  display: grid;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.info-table {
  background-color: aqua;
  padding: 20px;
  position: relative;
  text-align: center;
  padding: 15px;
}

.s-box {
  background-color: blanchedalmond;
  padding: 20px;
  min-height: 100px;
}
.s-input {
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  border-radius: 25px;
  width: 100%;
  transition: box-shadow 100ms;
  outline: none;
}

.o-list {
  background-color: aquamarine;
  padding: 20px;
}

.u-list {
  background-color: cornflowerblue;
  padding: 20px;
}
.d-box {
  background-color: coral;
  padding: 20px;
  min-height: 100px;
}
