table,
th,
td {
  border: 1px solid blue;
  border-collapse: collapse;
  text-align: center;
}

.main-container {
  display: grid;
  justify-content: center;
  font-family: "Gill Sans";
}

.info-table {
  /* background-color: aqua; */
  padding: 20px;
  position: relative;
  text-align: center;
}

.s-box {
  display: flex;
  align-items: center;
  /* background-color: blanchedalmond; */
  padding: 20px;
  min-height: 120px;
}
.s-input {
  border: 1px solid #ddd;
  font-size: 16px;
  border-radius: 25px;
  width: 100%;
}

.o-list {
  /* background-color: aquamarine; */
  padding: 20px;
}

.u-list {
  /* background-color: cornflowerblue; */
  padding: 20px;
}
.d-box {
  /* background-color: coral; */
  padding: 20px;
  min-height: 120px;
}
